body {
    height: 100vh;
}
#table {
    margin: 0 auto;
}
.item {
    padding: 10px;
    border: 1px solid rgb(0,0,0);
}
.inverted-table {
    background-color: rgb(0,0,0);
}
.checked {
    background-color: rgb(0,0,0);
}
.checked.inverted {
    background-color: rgb(255,255,255);
}


